*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
}

.main-content 
{
    width: 100%;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/*For index.html*/
.mainBackground {
    width: 100%;
    height: 100%;

    /*--background-image: linear-gradient(rgba(5, 117, 230, 0.4), rgba(0, 247, 96, 0.1));--*/
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/*Navigation bar */
nav{
    width: 100%;
    height: 11em;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(10px);
}
/*Logo NavBar*/
nav .logo1{
    width: 200px;

}
/*Navigation buttons */
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
/*Navigation buttons text */
nav ul li a,span{
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    border: 2px solid #fff;
    padding: 4px 10px;
    border-radius: 50px;
    transition: 0.5s;
}
/*Navigation buttons "on Hover" effect */
nav ul li a:hover{
    -webkit-text-stroke: 1px #5FB0FF;
}


/*Element: big text in the middle for index.html */
.content{
    text-align: center;
}
/*Its Text design */
.content h1{
    margin: 102px;
    padding-bottom: 500px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}




/*The background Video from index.html */
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
/*Commands to keep the minimum aspect-ratio of the background video */
@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}




/*Commands to keep the maximum aspect-ratio of the background video */
@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}
/* */
/* */
/*!!!!IN CASE WE DECIDE FOR FOOTER LATER!!!!*/

footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 15%;
    margin-right: 15%;
}

.footer-nav {
    justify-content: center;
    border-bottom: 2px;
    border-color: #DDDDDD;
    border-bottom-style: solid;
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.footer-nav li a {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-decoration: none;
    color: #004aad;
}

.footer-nav li a:hover {
    color: #2ea3f0;
}

.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.footer-copyright {
    display: flex;
    align-items: center;
}

.footer-socials {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: end;
}

.footer-socials a {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-decoration: none;
    text-align: center;
    height: 24px;
}

.footer-socials a li p {
    color: #9d00ad;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
}

.footer-socials li {
    margin-left: 1rem;
}

#features {
    padding-top: 50px;
}

#features h2 {
    margin-top: 25px;
    height: 75px;
}

#features ul {
    justify-content: center;
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

#features ul li {
    width: 200px;
    height: 350px;
    margin-left: 3rem;
    margin-right: 3rem;
}

.feature-text{

}

.feature-image{
}

#section-contact {
    background-color: #d7f2ff;
    text-align: center;
    margin-bottom: 2rem;
}

#section-contact p {
    display: inline-block;
    font-size: 30px;
    margin-top: auto;
    margin-bottom:auto;
}

#section-contact a {
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border: 4px solid #5FB0FF;
    color: #000;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 40px;
}

#section-contact div {
    padding-top: 50px;
    padding-bottom: 50px;
}





/* LOGIN PANEL */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

.mainBackground {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(201, 214, 255, 0.5),rgba(5, 117, 230, 0.3));
  /*--background-image: linear-gradient(rgba(5, 117, 230, 0.4), rgba(0, 247, 96, 0.1));--*/
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.center{
margin-top: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  background: rgba(255, 255, 255, 0.788);
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}

/* NOTIF - Das Popup */
.notif {
  position: absolute;
  top: 20px;
  right: 20px;
  max-width: 300px;
  background-color: #f44336;
  color: #fff;
  padding: 30px;
  border-radius: 5px;
  z-index: 9999;
  opacity: 0;
  transform: translateX(10%);
  transition: opacity 5s ease-in-out, transform 1s ease-in-out;
}

.notif.show {
  opacity: 1;
  transform: translateX(0);
}

.notif-content {
  display: flex;
  align-items: center;
}

.notif-content p {
  margin: 0;
  flex-grow: 1;
}




.center h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  margin: 30px 0;
}
input[type="submit"]:hover{
  border-color: #2691d9;
  transition: .5s;
}

.logo {
    display: block;
    margin: 0 auto;
    max-width: 400px; 
    width: 300px;
    height:300px;
    position: relative;
    padding-bottom: 125px;
  }

  
  /* TABELLE DIENSTPLAN.html*/

  .center2{
      position: relative;
      width: 50%;
      background: rgba(255, 255, 255, 0.788);
      border-radius: 10px;
      box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
      margin-top: 100px;
    }




  .appointment-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    min-height: 500px;
  }
  
  .appointment-table th,
  .appointment-table td {
    padding: 10px;
    text-align: center;
  }
  
  .appointment-table th {
    background-color: #5fafff9a;
    color: white;
    
  }
  
  .appointment-table td {
    background-color: #f2f2f2a1;
  }
  
  .appointment-table tbody tr:nth-child(even) td {
    background-color: #ebebeba1;
  }
  
  .appointment-table th,
  .appointment-table td {
    border: 1px solid #ccc;
  }
  
  .appointment-table th:first-child,
  .appointment-table td:first-child {
    border-left: none;
  }
  
  .appointment-table th:last-child,
  .appointment-table td:last-child {
    border-right: none;
  }
  
  .appointment-table tr:last-child td {
    border-bottom: none;
  }
  

  .date-container{
    margin-top: 30px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
    text-align: center;
    padding-bottom: 5px;
  }

.date-container span{
  text-decoration: none;
  color: #000000;
  font-size: 22px;
  border: 2px solid #fff;
  padding: 4px 10px;
  border-radius: 50px;
  transition: 0.5s;
}

.date-btn{
    text-decoration: none;
    background-color: #5FB0FF;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: 800;
}

/* *//* *//* *//* */
/* *//* *//* */
/* *//* */
/* */

/* VERWALTUNGSSICHT */
/* */
/* Für Table Header */
.table-header-verwaltung {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.button-group {
  display: flex;
}

.rounded-button1 {
  border: none;
  border-radius: 20px;
  background-color: #FF8079;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 10px;
  font-weight: 800;
  transition: 0.5s;
}
.rounded-button1:hover {
  color: rgb(0, 0, 0);
}
.rounded-button2 {
  border: none;
  border-radius: 20px;
  background-color: #34C191;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 10px;
  font-weight: 800;
  transition: 0.5s;
}
.rounded-button2:hover {
  color: rgb(0, 0, 0);
}



.search-box input[type="text"] {
  border-radius: 20px;
  border: none;
  padding: 5px 10px;
}

.search-box-text:focus{
  box-shadow: 0 0 10px 4px rgb(95, 176, 255);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .dropdown-button {
  border-radius: 20px;
  background-color: #5FB0FF;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: 800;
  transition: 0.5s;
}
.dropdown .dropdown-button:hover{
  color: rgb(0, 0, 0);
}

/* Drop-down Menu */
.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: 0.5s;
}

.dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown .dropdown-content a:hover {
  background-color: #5fb0ff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Für die Verwaltung-Tabelle */
.verwaltung-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.verwaltung-table th,
.verwaltung-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.verwaltung-table th {
  background-color: #f2f2f2;
  border-collapse: collapse;
  margin-top: 20px; 
}
/*****************************************************/

/*Die Pfeile unten bei Verwaltung.html*/
/*
.pfeil-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.pfeil-buttonL {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #5fafff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 800;
  transition: 0.5s;
  margin-top:10px;
  margin-right:10px;
}
.pfeil-buttonR {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #5fafff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 800;
  transition: 0.5s;
  margin-top:10px;
  margin-left:10px;
}

.pfeil-buttonL:hover {
  color: black;
}
.pfeil-buttonR:hover {
  color: black;
}
*/



/*Farben von "Mitarbeiter" bzw. "Patient" Table-Rows in "Verwaltung.html"*/
.Mitarbeiter-background {
  background-color: #FF8079;
}

.Patient-background {
  background-color: #34C191;
}


/*Person Abmelden Dropdown-Menu*/
.txt_field select {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #f2f2f2a1;
  border-radius: 5px;
  padding-right: 20px;
}

.txt_field select::-ms-expand {
  display: none;
}

/* Ein transition effect wenn man Dropdown Menu anclickt */
.dropdownAbmelden-click:focus {
  transition: box-shadow 0.3s ease-in-out;
}

/* Glow-Farbe ändern */
.dropdownAbmelden-click:focus {
  box-shadow: 0 0 10px 4px rgb(95, 176, 255);
}




/*"Entfernen"-Button in liste.html*/
.entfernen-button {
  margin-top: 5px;
  padding: 5px 10px;
  background-color: #2691d9;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.entfernen-button:hover {
    background-color: #1c6ea4;
}


/*Die ScrollBar*/
.table-container {
  max-height: 420px; 
  overflow-y: auto; 
  margin-top: 20px; 
}


/*Anmeldeformular 2 Spalten*/
.txt_field {
  display: inline-block; 
  width: calc(50% - 10px); 
  margin-right: 10px; /* Add margin between the text fields */
}

.txt_field:nth-child(2n) {
  margin-right: 0; /* Remove the margin for the last text field in each row */
}


.radio-btn {
  transform: scale(0.8); /* Adjust the scale value as needed */
  padding-top: 20px;
}


.radio-field {
  display: flex;
  flex-direction: column;
}

.anmeldenMB-zuruck{
  display: flex;
  flex-direction: column;
}

.error-box {
  text-align: center;
  padding: 2rem;
}


/*THIS IS TO FIX THE LOGIN PANEL - NO MORE SPLIT FORMULAR*/

form .txt_fieldLOGIN{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_fieldLOGIN input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_fieldLOGIN label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }
  .txt_fieldLOGIN span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
  }
  .txt_fieldLOGIN input:focus ~ label,
  .txt_fieldLOGIN input:valid ~ label{
    top: -5px;
    color: #2691d9;
  }


  .centerLOGIN{
    margin-top: 50px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 400px;
      background: rgba(255, 255, 255, 0.788);
      border-radius: 10px;
      box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
    }

    .centerLOGIN h1{
      text-align: center;
      padding: 20px 0;
      border-bottom: 1px solid silver;
    }
    .centerLOGIN form{
      padding: 0 40px;
      box-sizing: border-box;
    }